<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropbox</key>
	<dict>
		<key>appSecret</key>
		<string>yourDropboxAppSecret</string>
		<key>appKey</key>
		<string>yourDropboxAppKey</string>
	</dict>
	<key>drive</key>
	<dict>
		<key>appSecret</key>
		<string>yourDriveAppSecret</string>
		<key>appKey</key>
		<string>yourDriveAppKey</string>
	</dict>
</dict>
</plist>
